body,
html {
    margin: 0;
    padding: 0;
     !overflow: hidden;
    max-height: none;

    font-family: sans-serif;

    color: white;

    background-color: #2e4d2e;
}

#loginEnv {

    display: none;
    position: absolute;

    width: 100vw;
    height: 100vh;

    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}



#login {

    padding: 20px;
    background-color: #009688;
    border-radius: 15px;

    box-shadow: 0 0 15px 3px cadetblue;
}

#login #loginTitle {
    text-align: center;
    font-size: 1.5rem;
}

#login #loginTitle h1 {
    margin: 0;
}

#login #loginInfo {
    display: grid;
    justify-items: center;
}

#login #loginInfo input {
    width: 75%;
    height: 75%;
    margin: 10px;

    font-size: 1.25rem;

    border-radius: 15px;

    border: none;
}

#login #loginInfo label {
    width: 75%;
    margin-top: 20px;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
     !position: fixed;
    padding: 25px;
}

nav .logo img {
    width: 16vh;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: flex;
    align-items: center;

    padding-left: 45px;

    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    justify-items: center;
}

main #bigLogo {

    text-align: center;
    margin: auto
}

.logo img:hover {
    animation: spin 2s infinite cubic-bezier(.85, .01, .25, 1);

}

main #bigLogo img {
    width: 45%;
}

@keyframes spin {
    0% {
        transform: rotateX(-20deg) rotateY(20deg);
    }

    100% {
        transform: rotateX(-20deg) rotateY(740deg);
    }
}

main #searchPlace {
    width: 75%;
    padding: 10px 5px;
    align-content: center;

}

main #searchPlace #search {
    width: 75%;
    height: 50%;
    border-radius: 15px;
    justify-content: center;
    border: none;
    font-size: 1.25em;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    ;
}

main #searchPlace #searchBtn {
    display: flex;
    justify-content: space-evenly;
}

main #searchPlace #searchBtn input {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.25em;
    background-color: #f0f8ffa3;
}

main #searchPlace #searchBtn input:hover {
    background-color: #f0f8ff;
}

main #appIcons {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: #f0f8ffa3;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
}

main #appIcons div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5%;
    border: 1px dotted white;
    border-radius: 10px;
    margin: 5px;
    background-color: #f0f8ffab;
    cursor: pointer;
}

main #appIcons div:hover {
    background-color: aliceblue;
}

main #appIcons img {
    width: 40px;
}
