html {
    background-color: #f8eeec;

    max-width: 1600px;
    margin: auto;
    color: #F3F8FC;
    background-image: url(images/bg.jpg);
    background-blend-mode: difference;

}

#login {
    float: right;
    margin: 20px;


}

#logobox {
    color: palevioletred;
    max-height: 150px;
    max-width: 400px;
    background-color: #340f0f;
    margin: 40px;
    padding: 10px;
    box-shadow: 8px 8px 0px black;

}

#logobox: hover {
    position: absolute;
    height: 150px;
    width: 150px;
    transition: top 0.3s, left 0.3s;

}

#logo {
    height: 70px;
    width: 400px;
    margin: auto;
    align-items: center;
}

#main {

    color: #13221a;
    border-radius: 25px;
    max-width: 1300px;
    height: 980px;
    padding: 15px;
    margin: auto;
    flex: auto;
    font-family: 'Courier New', monospace;
    overflow: hidden;


}

#content {
    margin: 40px;
    padding 8px;
    flex: auto;



}



.puff-in-center:hover {
    -webkit-animation: puff-in-center .9s cubic-bezier(.68, -.55, .265, 1.55) alternate forwards;
    animation: puff-in-center .9s cubic-bezier(.68, -.55, .265, 1.55) alternate forwards
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}
